.container-navigation {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.container-navigation .name {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.container-navigation .menu-navigation {
    background-color: #17181B;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100vh;
}

.container-navigation .photo-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-navigation .menu-navigation .photo-main nav {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.container-navigation .menu-navigation nav a {
    text-decoration: none;
    color: whitesmoke;
}

.container-navigation .index,
.container-navigation .about,
.container-navigation .contact,
.container-navigation .formation,
.container-navigation .career {
    padding: 1.2rem;
    border-top: 1px solid rgba(52, 58, 64, .5);
}

.container-navigation .contact {
    border-bottom: 1px solid rgba(52, 58, 64, .5);
}
