.background {
  background-image: url(images/paysage.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-left: 15rem;
  padding-top: 8rem;
  height: 100%;
}

.content .presentation {
  text-align: center;
  margin: auto;
  color: #17181B;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  height: 100%;
}
