* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #343A40;
    opacity: 85%;
}

.content {
    margin-left: 15rem;
    padding-top: 8rem;
    height: 100%;
    padding: 8rem 7rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
