.content {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    width: 85vw;
    margin: 8rem 7rem 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: whitesmoke;
}

.content .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5rem;
    padding-left: 26rem;
}

.content .form .sex,
.content .form .identity,
.content .form .enterprise,
.content .form .message,
.content .form .comment {
    display: flex;
    gap: 2rem;
}

.content .form .sex p,
.content .form .identity p,
.content .form .enterprise p,
.content .form .message p,
.content .form .comment p {
    display: flex;
    flex-direction: column;
}

.content .form input,
.content .form textarea {
    width: 20rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
}

.content .form .sex label,
.content .form .identity label,
.content .form .enterprise label,
.content .form .message label,
.content .form .comment label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content .container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #01A3E0;
    border-radius: 15px;
}

.content .container-contact h1 {
    color: #01A3E0;
    text-shadow: 1px 1px 15px black;
    opacity: 85%;
    padding-top: 0.8rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.content .container-contact p {
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.content .contact-link {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content .contact-link p {
    margin-top: 2rem;
    color: #01A3E0;
}

.content .form .button {
    margin-top: 2rem;
    padding-left: 10.5rem;
}

.content .form .button input {
    cursor: pointer;
}
