.background .content {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.content .container-page .container-head h1 {
    color: #01A3E0;
    text-shadow: 1px 1px 15px black;
    opacity: 85%;
    padding-top: 0.8rem;
}

.content .container-page .container-head h1,
.content .container-page .container-head p {
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.content .container-page .container-head {
    border-bottom: 1px dashed #01A3E0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}

.content .container-page .container-about {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.content .container-page .informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
}

.content .container-page .informations span {
    border-bottom: 2px solid #01A3E0;
    font-size: 21px;
}

.content .container-page .container-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.content .container-page .container-contact p {
    margin-top: 1.7rem;
    margin-right: 0.5rem;
}

.content .container-page {
    margin: 8rem 7rem 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: whitesmoke;
}

.content .container-page h2 {
    color: #01A3E0;
    margin-top: 1.5rem;
    text-align: center;
}

.content .container-page .informations ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

.content .container-page .informations li {
    margin-top: 0.5rem;
    padding-left: 4.5rem;
}

.content {
    width: 85vw;
}

.content .container-page .container-quality h2 {
    margin-top: 4rem;
    text-decoration: underline;
}

.content .container-page .container-quality .quality {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content .container-page .container-quality .quality p {
    margin-top: 2rem;
}
