.container-head h1 {
    color: #01A3E0;
    text-shadow: 1px 1px 15px black;
    opacity: 85%;
    padding-top: 0.8rem;
}

.container-head h1, .container-head p{
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container-head {
    border-bottom: 1px dashed #01A3E0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    width: 100%;
}

.container-about {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.informations span {
    border-bottom: 1.5px solid #01A3E0;
    border-radius: 0 5px;
    font-size: 21px;
}

.container-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;  
}

.container-contact p {
    margin-top: 1.7rem;
    margin-right: 0.5rem;
}

.container-page {
    margin: 10rem 7rem 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: whitesmoke;
}

.container-page h2 {
    color: #01A3E0;
    margin-top: 1.5rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    margin-top: 0.5rem;
    padding-left: 1.7rem;
}

.me {
    width: 85%;
}
